<table class="board" id="fox_board">
	<%(0..7).each do |row_number|%>
		<tr>
		<%(0..7).each do |column_number|%>
			<td><%= ['', image_tag('board_fox.png'), image_tag('board_fox_hit.png'), image_tag('board_badger_missile.png')].sample %></td>
		<% end %>
		</tr>
	<% end %>

</table>

<table class="board" id="badger_board">
	<%(0..7).each do |row_number|%>
		<tr>
		<%(0..7).each do |column_number|%>
			<td><%= ['', image_tag('board_badger.png'), image_tag('board_badger_hit.png'), image_tag('board_fox_missile.png')].sample %></td>
		<% end %>
		</tr>
	<% end %>

</table>