// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-image: image-url("background.png");
	background-size: 100% auto;
	background-color: #00002b;
	background-position: 0 0;
	margin: 0;

	color: #cfdde9;
}

.moon {
	position: fixed;
	top: 50px;
	left: 50px;
}

.badger {
	z-index: -10;
	bottom: 10px;
	position: fixed;
	left: 50px;
}

.fox {
	z-index: -10;
	position: fixed;
	bottom: 10px;
	right: 50px;
}

header {
	text-indent: -9000px;
	position: fixed;
	width: 100%;
	height: 100px;
	top: 200px;
	left: 0;
	background-image: image-url("battlecritters.png");
	background-repeat: no-repeat;
	background-position: center;
}

fieldset {
	border: 0;
	margin-bottom: 20px;
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: small;
	font-variant: small-caps; 

	.hostname {
		position: absolute;
		left: 0;
	}

	.team {
		position: absolute;
		right: 0;
	}
}

.grass {
	background-image: image-url("grass.png");
	background-repeat: repeat-x;
	background-position: bottom;
	z-index: 1;
	position: fixed;
	height: 100px;
	bottom: 0;
	width: 100%;
}


h1, h2, h3, h4, p {
	text-align: center;
	font-variant: small-caps;
	
}

.restart_button {
	position: absolute;
	color: #3b4664;
	text-decoration: none;
	background-color: #cfdde9;
	padding: 20px;
	border-radius: 5px;
	border: 6px solid #3b4664;
	top: 5%;
	width: 100px;
	left: 44.5%;
	text-align: center;
	z-index: 12;
}
.restart_button:hover {
	border: 6px solid yellow;
}

@media all and (max-width: 1200px) {
	.badger {
		width: 30%;
	}

	.fox {
		width: 30%;
	}
}

@media all and (max-width: 1000px) {

	.moon {
		width: 20%;
	}

	.badger {
		width: 30%;
	}

	.fox {
		width: 30%;
	}

	header {
		top: 125px;
	}

}