.welcomes_controller {
	.welcome {
		text-align: center;
		padding-top: 300px;
	}

	.welcome a {
		display: inline-block;
		color: #3b4664;
		text-decoration: none;
		background-color: #cfdde9;
		padding: 10px;
		border-radius: 5px;
		margin: 0 20px;
		border: 6px solid #3b4664;

		&:hover {
			border-color: #709eb4;
		}
	}
}